.videoPlayer {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
	text-align:center;
	z-index:99;
}

.videoPlayerUI {
	position:absolute;
	top:40px;
	left:50px;
	width: 1800px;
	background-color:rgba(30,30,30,1);
	padding:20px 10px 10px 10px;
	color:white;
}

.videoPlayerSettings {
	position:absolute;
	right:0px;
	display:inline-block;
}

.videoPlayerTimeCurrent {
	position:absolute;
	font-size: 26px;
	top:16px;
	left:0px;
	width: 290px;
	display:inline-block;
}

.videoPlayerTimeRemaining {
	position:absolute;
	font-size: 26px;
	top:16px;
	right:0px;
	width: 290px;
	display:inline-block;
}

.videoPlayerSeek {
	position:relative;
	padding:30px 0px;
}

.videoPlayerSeekBar {
	position:relative;
	margin:0px auto;
	height:6px;
	width:1200px;
	border-radius:16px;
	background-color: grey;
	
}

.videoPlayerSeekBarPlayed {
	height:100%;
	border-radius:16px;
	background-color:#00a4dc;
}

.videoPlayerSeekBarPosition {
	position: absolute;
    top: -9px;
	height:24px;
	width:24px;
	border-radius:50%;
	background-color:#00a4dc;
}

.videoPlayerSeekBarPositionTime {
position: absolute;
    top: 40px;
    left: -50px;
    padding: 10px;
    width: 100px;
    background-color:rgba(59,59,59,1);
    border: solid black 3px;
}


.videoPlayerMediaInfo {
    position: absolute;
    left: 30px;
    text-align: left;
    top: 30px;
    max-width: 640px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 36px;
}

.videoPlayerPlaybackMethod {
    position: absolute;
    width: 200px;
    right: 200px;
    text-align: right;
    top: 34px;
    max-width: 640px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 26px;
}

.videoPlayerSeekSpeed {
    position: absolute;
    left: 1150px;
    text-align: left;
    top: 34px;
    max-width: 640px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-size: 26px;
}

.videoPlayerControls {
	display:inline-block;
}





.videoPlayerSubtitlesContainerTop {
	position:absolute;
	bottom:20px;
	left:0px;
	width:1920px;
	text-align:center;
	z-index:99;
	display:table;
	min-height:120px;
}

.videoPlayerSubtitlesContainer {
	display:table-cell; 
	vertical-align:middle;
}

.videoPlayerSubtitles {
	font-size: 64px;
	font-weight: bold;
	color:white;
	background-color:rgba(192,192,192,0.5)
}